#preview-page {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    #mobile-scale-wrapper {
        height: 500px; 
    }
}

@media (max-width: 640px) {
    #mobile-scale-wrapper {
        height: 430px;
    }
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #c7d2fe;
    border-radius: 10px;
}
